<ul class="list-group">
<% @gists.each do | gist | %>
    <h4 class="list-group-item-heading"><%= link_to gist.name, gist.url %>&nbsp;<%= icon('external-link') %></h4>
    <p class="list-group-item-text"><%= gist.description %></p>
<% end %>
</ul>
<!-- http://getbootstrap.com/components/#list-group -->
<!-- https://github.com/FortAwesome/font-awesome-sass#rails-helper-usage -->

<%= render "footer" %>
